{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!
{% endblock %}

{% block body %}
	<section class="max-w-screen-2xl bg-beige_chaud_clair px-4 md:px-8">

		<h1 class="text-center py-8">À Propos</h1>

		<div class="py-4">
			<h2 class="mb-8">À Propos de Maçonnerie ProBuild</h2>
			<p>
				Chez Maçonnerie ProBuild, nous sommes des experts passionnés de la maçonnerie, basés en France. Forts de notre expérience et de notre dévouement à l'artisanat, nous nous engageons à créer des structures durables et esthétiquement magnifiques qui résistent à l'épreuve du temps.
			</p>
		</div>

		<div class="py-4">
			<h2 class="mb-8">Notre mission</h2>
			<p>
				Notre mission est de donner vie à vos idées en utilisant la pierre comme matériau de base. Chaque projet que nous entreprenons est imprégné de notre engagement envers la qualité, l'innovation et la satisfaction de nos clients. Nous prenons chaque détail en considération pour garantir que nos réalisations dépassent vos attentes.
			</p>
		</div>

		<div class="py-4">
			<h2 class="mb-8">Notre équipe</h2>
			<p>
				Notre équipe est composée de maçons hautement qualifiés et dévoués qui partagent une passion commune pour l'art de la maçonnerie. Chacun de nos membres apporte son expertise unique et sa créativité à chaque projet, garantissant ainsi des résultats exceptionnels. Nous travaillons en étroite collaboration avec nos clients pour transformer leurs visions en réalité.
			</p>
		</div>

		<div class="py-4">
			<h2 class="mb-8">Engagement envers la Qualité</h2>
			<p>
				La qualité est au cœur de tout ce que nous faisons. De la sélection minutieuse des matériaux à l'application de techniques de pointe, nous nous efforçons de créer des structures qui résistent aux éléments tout en conservant leur beauté naturelle. Notre réputation est construite sur la solidité et la durabilité de nos créations.
			</p>
		</div>

		<div class="py-4">
			<h2 class="mb-8">Contactez-nous</h2>
			<p>
				Si vous recherchez des maçons compétents et passionnés pour vos projets de maçonnerie en France, n'hésitez pas à nous contacter. Nous sommes impatients de travailler avec vous pour réaliser des projets de maçonnerie exceptionnels.
			</p>
		</div>
		<div class="flex justify-center">
			<a type="button" class="my-8 rounded border bg-beige_chaud p-4 uppercase hover:bg-gris_ardoise shadow-md hover:shadow-xl" href="/contact">fomulaire de contact</a>
		</div>

	</section>
{% endblock %}
