{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="pt-[82px]">
    <h1 class="text-center text-3xl text-red-600">Hello {{ controller_name }}! ✅</h1>

</div>
{% endblock %}
