{% extends 'base.html.twig' %}

{% block title %}Services
{% endblock %}

{% block body %}

	<section class="bg-beige_chaud_clair">
		<article class="max-w-screen-2xl m-auto py-8 px-4 md:px-8">
			<h1 class="text-center mb-8">Services</h1>
			<div class="py-4">
				<h2 class="mb-8">Nos Services de Maçonnerie</h2>
				<p>
					Chez Maçonnerie ProBuild, nous offrons une gamme complète de services de maçonnerie conçus pour transformer vos idées en structures solides et durables. Avec 10 années d'expérience dans le domaine, notre équipe de maçons passionnés et qualifiés est prête à relever tous les défis pour créer des espaces qui résistent au temps.
				</p>
			</div>
			<divclass= class="py-4">
				<h2 class="mb-8">Construction de Murs en Briques et en Pierres</h2>
				<p>
					Que ce soit pour des murs de soutènement, des clôtures, des murs de façade ou d'autres structures, nous maîtrisons l'art de la construction de murs en briques et en pierres. Notre expertise technique et notre souci du détail garantissent des résultats esthétiques et robustes.
				</p>
			</divclass="py-4">
			<div>
				<h2 class="mb-8">Rénovation de Cheminées</h2>
				<p>
					Donnez une nouvelle vie à votre cheminée avec nos services de rénovation. Nous restaurons et modernisons les cheminées tout en conservant leur charme authentique. Des cheminées classiques aux designs contemporains, nous réalisons des transformations exceptionnelles.
				</p>
			</div>
			<div class="py-4">
				<h2 class="mb-8">Aménagement Paysager en Maçonnerie</h2>
				<p>
					Créez des espaces extérieurs enchanteurs avec notre expertise en aménagement paysager en maçonnerie. Des allées de jardin aux terrasses en pierre, nous concevons des environnements extérieurs fonctionnels et esthétiques.
				</p>
			</div>
			<div class="py-4">
				<h2 class="mb-8">Création de Patios et de Terrasses</h2>
				<p>
					Profitez du plein air avec style en choisissant nos services de création de patios et de terrasses. Nous construisons des espaces de détente en pierre qui deviendront le cœur de vos activités de plein air.
				</p>
			</div>
			<div class="py-4">
				<h2 class="mb-8">Projets sur Mesure</h2>
				<p>
					Nous sommes passionnés par la création de projets uniques qui répondent à vos besoins spécifiques. Si vous avez une idée en tête, notre équipe est prête à collaborer avec vous pour donner vie à votre vision.
				</p>
			</div>
			<div>
				<h2 class="mb-8">Contactez-nous dès aujourd'hui pour discuter de vos projets de maçonnerie.</h2>
				<div class="flex justify-center">
					<a type="button" class="my-8 rounded border bg-beige_chaud p-4 uppercase hover:bg-gris_ardoise shadow-md hover:shadow-xl" href="{{ path('app_contact') }}">fomulaire de contact</a>
				</div>
			</div>
		</article>
	</section>

{% endblock %}
