<form method="post" action="{{ path('app_tags_delete', {'id': tag.id}) }}" onsubmit="return confirm('Voulez-vous supprimer le tag?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
    <button class="p-2 rounded-xl bg-red-500 text-white hover:bg-red-800">Supprimer</button>
</form>
