{% extends 'admin/adminBase.html.twig' %}

{% block title %}Nouveau tag{% endblock %}

{% block body %}
    <h1>Créer un nouveau tag</h1>

    {{ include('admin/tags/_form.html.twig') }}

    <a href="{{ path('admin_tags_index') }}">Retour à la liste des tags</a>
{% endblock %}
