@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: montserrat;
  src: url(./fonts/Montserrat-VariableFont_wght.woff2);
}
@font-face {
  font-family: lato-regular;
  src: url(./fonts/Lato-Regular.woff2);
}
@font-face {
  font-family: lato-bold;
  src: url(./fonts/Lato-Bold.woff2);
}

* {
  font-family: lato-regular;
}
h1,h1,h3,h4{
  font-family: montserrat;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}

@media (min-width: 768px) {
  *{
    font-size: 18px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 28px;
  }

  
}