{% extends 'base.html.twig' %}

{% block title %}non autorisé
{% endblock %}

{% block body %}
	<section class="max-w-screen-2xl flex flex-col justify-center min-h-[calc((100vh-(593px+82px)))] sm:min-h-[calc((100vh-(520px+82px)))] md:min-h-[calc((100vh-(384px+82px)))] bg-beige_chaud_clair px-4 md:px-8 m-auto">

		<h1 class="text-center py-8">Accès non autorisé</h1>

	</section>
{% endblock %}
