<footer class="shadow-inner ">
	<div class="mx-auto w-full max-w-screen-2xl p-4 py-6 lg:py-8">
		<div class="lg:flex md:justify-between">
			<div class="mb-6 lg:mb-0">
				<a href="#" class="flex items-center">
					<img src="images/logo/Maçonnerie-Probuild.svg" class="h-8 mr-3" alt="Maçonnerie Probuild Logo"/>
					<span class="self-center  text-brun_terreux text-2xl font-semibold whitespace-nowrap">Maçonnerie ProBuild</span>
				</a>
			</div>
			<div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
				<div>
					<h2 class="mb-6 text-sm font-semibold  text-brun_terreux uppercase ">Resources</h2>
					<ul class="text-gris_ardoise font-medium">
						<li class="mb-4">
							<a href="https://fr.freepik.com/" class="hover:underline" target="_blank">freepik</a>
						</li>
						<li class="mb-4">
							<a href="https://unsplash.com/" class="hover:underline" target="_blank">Unsplash</a>
						</li>
						<li>
							<a href="https://tailwindcss.com/" class="hover:underline" target="_blank">Tailwind CSS</a>
						</li>
					</ul>
				</div>
				<div>
					<h2 class="mb-6 text-sm font-semibold  text-brun_terreux uppercase ">Suivez-nous</h2>
					<ul class="text-gris_ardoise  font-medium">
						<li class="mb-4">
							<a href="https://www.facebook.com/" class="hover:underline " target="_blank">Facebook</a>
						</li>
						<li class="mb-4">
							<a href="https://www.instagram.com/" class="hover:underline" target="_blank">Instagram</a>
						</li>
						<li class="mb-4">
							<a href="https://fr.linkedin.com/" class="hover:underline" target="_blank">Linkedin</a>
						</li>
					</ul>
				</div>
				<div>
					<h2 class="mb-6 text-sm font-semibold  text-brun_terreux uppercase">Legal</h2>
					<ul class="text-gris_ardoise font-medium">
						<li class="mb-4">
							<a href="#" class="hover:underline">politique de confidentialité</a>
						</li>
						<li>
							<a href="#" class="hover:underline">Termes &amp; Conditions</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<hr class="my-6 border-gray-200 sm:mx-auto"/>
		<div class="sm:flex sm:items-center sm:justify-between text-brun_terreux">
			<span class="text-sm text-brun_terreux sm:text-center">© 2023
				<a href="#" class="hover:underline" target="_blank">Maçonnerie ProBuild</a>. All Rights Reserved.
			</span>
			<div class="flex mt-4 space-x-5 sm:justify-center sm:mt-0">
				<p>Réalisé par
					<a href="https://julien-webandco.fr/" class="hover:text-gris_ardoise hover:underline " target="_blank">Julien Web&Co
					</a>
				</p>
			</div>
		</div>
	</div>
</footer>