<p>Bonjour Maçonnerie ProBuild</p>

<p>Vous avez reçu un message venant de votre site</p>

<p>Téléphone : {{phoneNumber|raw}}</p>
<p>Nom / prénom : {{fullName|raw}}</p>
<p>message : {{message|raw}}</p>


<p>Merci</p>